<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.activitydemo.activity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.activitydemo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.activitydemo.activity.LifeActivity">
        </activity>
        <activity android:name="com.activitydemo.activity.NormalActivity">
        </activity>
        <activity
            android:name="com.activitydemo.activity.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog">
        </activity>
        <activity android:name="com.activitydemo.activity.ModelActivity">
        </activity>
        <activity android:name="com.activitydemo.activity.First_Model1_Activity">
        </activity>
        <activity
            android:name="com.activitydemo.activity.First_Model2_Activity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name="com.activitydemo.activity.Second_Model2_Activity">
        </activity>
        <activity
            android:name="com.activitydemo.activity.First_Model3_Activity"
            android:launchMode="singleTask"/>
        <activity android:name="com.activitydemo.activity.Second_Model3_Activity"/>
        <activity android:name="com.activitydemo.activity.First_Model4_Activity"/>
        <activity
            android:name="com.activitydemo.activity.Second_Model4_Activity"
            android:launchMode="singleInstance"/>
        <activity android:name="com.activitydemo.activity.Third_Model4_Activity"/>
        <activity android:name="com.activitydemo.activity.AActivity">
        </activity>
        <activity android:name="com.activitydemo.activity.BActivity">
        </activity>
    </application>

</manifest>
